.img-item-container{
    margin: 0;
    margin-top: 5px;
    
    cursor: pointer;

    .item-header{
        text-align: right;
        background: #ff4081;
        color: white;
    }

    .img-container{
        border: 1px solid #ccc;
        padding: 5px;
        img {
            height: 100px;
        }
    }

    
}