<div class="order-container">
  <div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-8">
                <h3 class="playfair-display primary-color font-italic font-bold">Pay your Order</h3>
                <div class="row">
                    <div class="col-md-12">
                        <p>
                          Dear customer, your contact information is required to be attached along with the order. We will contact you
                          in case we need to ask for additional information regarding your product.
                        </p>
                        <form action="#">
                            <ul>
                              <li>
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                  <input class="mdl-textfield__input" type="text" id="fullname">
                                  <label class="mdl-textfield__label" for="fullname">Full Name</label>
                                </div>
                              </li>
                              <li>
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                  <input class="mdl-textfield__input" type="email" id="email">
                                  <label class="mdl-textfield__label" for="email">Email Address</label>
                                </div>
                              </li>
                              <li>
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                  <input class="mdl-textfield__input" type="tel" id="phone">
                                  <label class="mdl-textfield__label" for="phone">Phone Number</label>
                                </div>
                              </li>
                            </ul>
                        </form>
                    </div>
                    <div class="col-md-12">

                        <p class="terms">
                            All our transactions are secured by Paypal. Once you select a checkout option, you will be redirected to a Paypal interface to process the payment as well as
                            gathering required information to complete the transaction. Thanks for choosing us.
                        </p>
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
                            <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input">
                            <span class="mdl-checkbox__label">I have read and agree to the Terms</span>
                        </label>
                    </div>


                </div>
            </div>
            <div class="col-md-4">
                <h3 class="playfair-display primary-color font-italic font-bold">Summary</h3>
                <div class="row order-summary-box">
                    <div class="col-md-12">

                      <ul class="row">
                        <li class="col-md-12 img-wrapper">
                          <img src="/assets/images/keychain1.jpg" width="150">
                        </li>
                        <li class="col-xs-8">Subtotal:</li>
                        <li class="col-xs-3">$50.00</li>
                        <li class="col-xs-8">Shipping:</li>
                        <li class="col-xs-3">$0.00</li>
                        <li class="col-xs-8">Tax:</li>
                        <li class="col-xs-3">$1.00</li>
                        <li class="col-xs-8"><strong>Order Total:</strong></li>
                        <li class="col-xs-3"><strong>$51.00</strong></li>
                      </ul>
                      <div class="paypal-checkout-wrapper">
                          <ngx-paypal [config]="payPalConfig"></ngx-paypal>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

