@model ImagenesRivera.Products.Models.KeyChainBookVM
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<body>
    <table width="100%" border="1">
        <tbody>
            <tr>
                <td width="50%">
                    <table width="100%">
                        @{

                            foreach (var page in Model.Pages.GetRange(0, 5))
                            {
                                if (page.IsFullPage)
                                {
                                    <tr>
                                        <td width="100%"><img src="" /></td>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td width="50%"><img src="" /></td>
                                        <td width="50%"><img src="" /></td>
                                    </tr>
                                }
                            }
                        }
                    </table>
                </td>

                <td width="50%"> 
                    <table width="100%">
                        @{

                            foreach (var page in Model.Pages.GetRange(5, 10))
                            {
                                if (page.IsFullPage)
                                {
                                    <tr>
                                        <td width="100%"><img src="" /></td>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td width="50%"><img src="" /></td>
                                        <td width="50%"><img src="" /></td>
                                    </tr>
                                }
                            }
                        }
                    </table>
                </td>
            </tr>
         </tbody>
    </table>
</body>
</html>