.pages-carousel{
    min-height: 400px;
    background: gray;
}

.page-layouts{
    padding: 10px;
    margin: 0 auto;
    width: 33.3%;

    .page-layout {

        &.selected{
           .page{
             background: #ccc;
           }
        }

        .page {
            cursor: pointer;
            border: 2px dashed gray;
            height: 100px;
            line-height: 100px;
            text-align: center;
        }

        &:hover {
            opacity: 0.6;
        }
    } 
}

@media only screen and (max-width: 600px) {
    .page-layouts {
        width: 100%;
    }
  }