.pages-carousel{
    width: 100%;
    height: 450px;
    position: relative;
    //background: white;
    float: left;

    .full { 
        width: 100% !important;
    }

    .photo-slide { 
        width: 50%;
        float: left;

        &.selected {
            .blank-page {
                border: 3px solid #ff4081 !important;
            }
        }

        .blank-page {
            height: 400px;
            background: white;
            border: 2px dashed #ccc;
            cursor: move;
        }

        .page-number {
            width: 100%;
            font-size: 14px;
            font-weight: bold;
            text-align: center;
        }
    }

    .image-options-container {
        position: absolute;
        top: calc(440px - 16px);
        height: 32px;
        width: 400px;

        &.left0{
            left: 0px;
        }
    
        &.left220{
            left: 220px;
        }

        &.left410{
            left: 410px;
        }

        li {
            padding: 3px;
            float: left;
            cursor: pointer;
        }
    }
}

.slides-nav-buttons {
   clear: left;
   width: 100%;
   height: 60px;
   padding-top: 10px;
   text-align: center;

   button {
       margin: 10px;

       &.disabled{
           pointer-events: none;
           opacity: .5;
       }
   }
}

.page-layouts-container{
    clear: left;
}

