<div class="pages-carousel"> 
    <div *ngFor="let slide of slides; let i = index" class="photo-slide" 
        [ngClass]="{'selected': slideSelected?.index === (i + 1), 'full': layoutSelected === 1}"
        [hidden] = "!slide.visible"  
        (click)="selectSlide(slide)">

        <div *ngIf="!slide.photo; else photoCropper" class="blank-page"></div>
       
        <ng-template #photoCropper>
                <app-book-pagecropper [imageFile]="slide?.photo" 
                                      [slideIndex]="slide?.index"
                                      [layout]="layoutSelected"
                                      [selected]="slideSelected?.index === (i + 1)">
                </app-book-pagecropper>
        </ng-template>
        
        <div class="page-number">
            <span>Page {{slide.index}}</span>
        </div>
    </div>

    <ul [hidden]="!slideSelected || !slideSelected.photo" class="image-options-container" 
        [ngClass]="{ 'left0': layoutSelected === 2 && slideSelected?.index % 2 !== 0, 
                     'left410': layoutSelected === 2 && slideSelected?.index % 2 === 0,
                     'left220': layoutSelected === 1 
                   }" >
        <!-- <li title="Apply Changes" (click)="doneClick()"><i class="material-icons">done</i></li> -->
        <li title="Undo Changes" (click)="undoClick()"><i class="material-icons">undo</i></li>
        
        <li title="Zoom In" (click)="zoomInClick()"><i class="material-icons">zoom_in</i></li>
        <li title="Zoom Out" (click)="zoomOutClick()"><i class="material-icons">zoom_out</i></li>
        
        <li title="Move Left" (click)="moveLeftClick()"><i class="material-icons">arrow_back</i></li>
        <li title="Move Right" (click)="moveRightClick()"><i class="material-icons">arrow_forward</i></li>
        <li title="Move Up" (click)="moveUpClick()"><i class="material-icons">arrow_upward</i></li>
        <li title="Move Down" (click)="moveDownClick()"><i class="material-icons">arrow_downward</i></li>
        
        <li title="Rotate Left" (click)="rotateLeftClick()"><i class="material-icons">rotate_left</i></li>
        <li title="Rotate Right" (click)="rotateRightClick()"><i class="material-icons">rotate_right</i></li>

        <li title="Remove Photo" (click)="removeClick()"><i class="material-icons">delete</i></li>
    </ul>
</div>

<div class="slides-nav-buttons">
    <button (click)="prevSlideClick()" [ngClass]="{ 'disabled': prevBtnDisabled}" class="add-btn mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored mdl-js-ripple-effect">
        <i class="material-icons">navigate_before</i>
    </button>
    <button (click)="nextSlideClick()" [ngClass]="{ 'disabled': nextBtnDisabled}" class="add-btn mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored mdl-js-ripple-effect">
        <i class="material-icons">navigate_next</i>
    </button>
</div>

<div [hidden]="!slides?.length" class="page-layouts-container">
    <app-book-pagelayouts (pageLayoutChangeEvent)="pageLayoutChangeHandled($event)"></app-book-pagelayouts>
</div>














