.pages-carousel{
    height: 450px;
    position: relative;
    //background: white;
    float: left;

    .photo-slide { 
        float: left;

        &.selected {
            .blank-page {
                border: 2px solid #ccc !important;
            }
        }

        .blank-page {
            width: 400px;
            height: 400px;
            background: white;
            border: 2px dashed #ccc;

            &.full { 
                width: 800px;
            }
        }
    }

    .image-options-container {
        position: absolute;
        top: calc(440px - 32px);
        height: 32px;
        width: 400px;

        &.left10{
            left: 10px;
        }
    
        &.left410{
            left: 410px;
        }

        li {
            padding: 5px;
            float: left;
            cursor: pointer;
        }
    }
}



.page-layouts-container{
    clear: left;
}

