.page-photo-container {
    width: 100%;

    &.selected{
        ::ng-deep {
            .cropper-container {
                border: 3px solid #ff4081;
            }
        }
    }

    ::ng-deep {
        .cropper-container {
            background: white;
            border: 2px solid #ccc;
        }
    }

    &.full {
        ::ng-deep {
            .cropper-container{
                width: 760px !important;
                height: 380px !important;
                box-sizing: content-box;
            }

            .cropper-modal{
                background: white !important;
            }

            .cropper-crop-box {
                .cropper-view-box{
                    outline: #ccc dashed 2px !important;
                }

            }
        }
    }

    &.single {
        ::ng-deep {
            .cropper-container {
                width: 380px !important;
                height: 380px !important;
            }

            .cropper-modal{
                background: white !important;
            }

            .cropper-crop-box {
                .cropper-view-box{
                    outline: #ccc dashed 2px !important;
                }

            }
        }
    }
}

