<div class="container-wrapper">
        <div class="page-photo-container" [ngClass]="{ 'full': layout === 1, 'single': layout === 2, 'selected': selected }" >
                <lib-cropper [imageFile]="imageFile" 
                             [options]="cropperOptions"
                             (init)="onCropperInit($event)"
                             (crop)="onCrop($event)"
                             (zoom)="onZoom($event)"
                             (fileChange)="onFileChange($event)" 
                             (fail)="onFail($event)" >
                </lib-cropper>
            </div>
</div>

