.page-photo-container {
    width: 100%;

    &.selected{
        ::ng-deep {
            .cropper-container {
                border: 3px solid #ff4081;
            }
        }
    }

    ::ng-deep {
        .cropper-container {
            background: white;
            border: 2px dashed #ccc;
        }
    }

    &.full {
        ::ng-deep {
            .cropper-container {
                width: 100% !important;
                height: 400px !important;
            }
        }
    }

    &.single {
        ::ng-deep {
            .cropper-container {
                width: 100% !important;
                height: 400px !important;
            }
        }
    }
}

