<!-- =====================HERO SECTION===================== -->
<div class="jumbotron">
  <div class="container relative">
    <h1 class="text-center playfair-display secondary-color letter-spacing-10 font-italic text-uppercase back-text">Imagenes Rivera</h1>
    <p class="playfair-display text-center primary-color line-height-30 wow fadeInUp" data-wow-delay="0.2s">Bring your memories & loved ones<br> in pockets, purse or backpack</p>
    <h2 class="josefin-sans text-center font-bold secondary-color letter-spacing-15 mb-50 wow fadeInUp" data-wow-delay="0.4s">KEY CHAIN</h2>

    <p class="text-center">
      <a [routerLink]="['/my-book']" class="btn text-uppercase btn-theme-sq wow fadeInUp" role="button" data-wow-delay="0.6s">Create my Book</a>
    </p>
  </div>
</div>
<!-- =====================END HERO SECTION===================== -->
