<div class="container-fluid book-container">
    <div class="row">
        <div class="col-md-5">
            <app-book-imageschooser></app-book-imageschooser>
        </div>
        <div class="col-md-6">
            <app-book-pagescarousel></app-book-pagescarousel>
        </div>
        <div class="col-md-1">
            <app-book-skinchooser></app-book-skinchooser>
        </div>
    </div>
    <div class="create-order-section">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                Buy My Book
        </button>
    </div>
</div>
