<div class="container-fluid book-container">
    <div class="row">
        <div class="col-md-5">
            <app-book-imageschooser 
                (imageAddedToBookEvent)="imageAddedEventHandled($event)">
            </app-book-imageschooser>
        </div>
        <div class="col-md-6">
            <img *ngIf="!pagesNumber"  width="100%" height="400px" src="/keychain/assets/images/samples/sample3.jpg">
            <app-book-pagescarousel
                [hidden]="!pagesNumber"
                [pagesNumber]= "pagesNumber"
                (pageChangedEvent)="pageChangeHandled($event)">
            </app-book-pagescarousel>
        </div>
        <div class="col-md-1">
            <app-book-skinchooser></app-book-skinchooser>
        </div>
    </div>
    <div class="create-order-section">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                <i class="material-icons">visibility</i>
                Preview
        </button>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                <i class="material-icons">shopping_cart</i>
                Buy My Book
        </button>
    </div>
</div>
