.page-layouts{
    padding: 10px;
    margin: 0 auto;
    width: 50%;

    .page-layout {

        &.selected{
           .page{
             border: 1px solid gray;
             background: white;
           }
        }

        .page {
            cursor: pointer;
            border: 2px dashed #ccc;
            height: 100px;
            line-height: 100px;
            text-align: center;
        }

        &:hover {
            opacity: 0.6;
        }
    } 
}

@media only screen and (max-width: 600px) {
    .page-layouts {
        width: 100%;
    }
  }