<!-- =====================PAGE TITLE===================== -->
<div class="page-title pt-120 pb-100">
  <div class="container">
    <div class="row">
    	<div class="col-md-12">
        	<h1 class="secondary-color josefin-sans text-uppercase letter-spacing-10 font-bold mt-80">Contact <span class="primary-color playfair-display letter-spacing-0 font-italic text-lowercase">Expect More.</span></h1>
        </div>
        <!-- END COL-MD-12 -->
    </div>
    <!-- END ROW -->
  </div>
</div>

<div class="section page-title-bg" style="background:url(/assets/template/images/page-title-bg-5.jpg) center center fixed no-repeat" data-stellar-background-ratio="0.3"></div>

<!-- =====================END PAGE TITLE===================== -->

<!-- =====================CONTACT SECTION===================== -->

<div class="section contact pb-100">
  <div class="container">
  	<div class="row">
    	<div class="col-md-4 mb-20 text-center wow fadeInUp" data-wow-delay="0.2s">
        	<div class="contact-info text-left">
                <h3 class="playfair-display primary-color mb-20">General Inquiries</h3>
                <p class="playfair-display secondary-color mb-20">Say hello.</p>
                <p class="playfair-display secondary-color mb-20">hello@vector.com</p>
            </div>
        </div>
        <!-- END COL-MD-4 -->
        <div class="col-md-4 mb-20 text-center wow fadeInUp" data-wow-delay="0.4s">
        	<div class="contact-info text-left">
                <h3 class="playfair-display primary-color mb-20">Careers</h3>
                <p class="playfair-display secondary-color mb-20">We appreciate serious inquiries.</p>
                <p class="playfair-display secondary-color mb-20">See Opportunities</p>
            </div>
        </div>
        <!-- END COL-MD-4 -->
        <div class="col-md-4 mb-20 text-center wow fadeInUp" data-wow-delay="0.6s">
        	<div class="contact-info text-left">
                <h3 class="playfair-display primary-color mb-20">Our Location</h3>
                <p class="playfair-display secondary-color mb-20">2228 Lapko Road PINGRUP WA 7414,
Melbourne, Australia</p>
                <p class="playfair-display secondary-color mb-20">Get Directions</p>
            </div>
        </div>
        <!-- END COL-MD-4 -->
    </div>
    <!-- END ROW -->
  </div>
  <!-- Map -->
  <div id="map" class="mt-70"></div>
</div>

<!-- =====================END CONTACT SECTION===================== -->
