.abt-img {
}
.abt-img img {
	width: 100%;
}
.counter-block{
	text-align: center;
    padding: 80px 0;
}
.counter-value {
    font-size: 60px;
    line-height: 1;
    font-weight: 600;
	color:#fff;
}
.counter-details {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.4;
	color:#fff;
	font-weight:normal;
}
