<!-- ABOUT COMPANY  -->
<div class="section about-company">
	<div class="container">
    	<div class="row">
        	<div class="col-md-6">
            	<h3 class="josefin-sans primary-color letter-spacing-5">A Creative Studio Located in</h3>
                <h3 class="playfair-display primary-color font-italic font-bold">Melbourne, Australia</h3>
                <p class="playfair-display mt-30 primary-color line-height-40">Our Company Nam id viverra ligula. Aliquam suscipit tempus ex vel ullamcorper. Aliquam erat volutpat.
Vestibulum et interdum purus. Ut dignissim vulputate metus. Mauris rhoncus pharetra erat ut vulputate.
Integer vitae turpis in sem semper dictum quis non lectus. Donec vehicula tempus lectus, quis facilisis tortor aliquam et.</p>
            </div>
            <!-- END COL-MD-6 -->

            <div class="col-md-6">
                <p class="playfair-display primary-color line-height-40 abt-para">Aliquam pellentesque tortor a elit ullamcorper, et ultrices ligula cursus. Curabitur volutpat fermentum neque in aliquet. Cras sodales felis eget dolor suscipit hendrerit. Duis maximus in felis ut facilisis. Nullam eget lacus et massa cursus rutrum vitae ut nunc. Ut luctus urna sollicitudin quam efficitur ultrices.</p>
            </div>
            <!-- END COL-MD-6 -->
        </div>
        <!-- END ROW -->
    </div>
</div>
<!-- END ABOUT COMPANY  -->

<!-- OUR TEAM  -->
<div class="section team-block pt-0">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 mb-20">
        <figure class="team-member wow fadeInUp" data-wow-delay="0.2s">
          <div class="team-member-img"><img alt="01" src="/keychain/assets/template/images/team/member-01.jpg"></div>
          <figcaption class="team-member-hover">
            <div class="team-member-info">
              <div class="team-member-name playfair-display font-italic font-light">Ana Kidman</div>
              <div class="team-member-spec josefin-sans">Marketing</div>
              <div class="team-member-social">
              	<a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-behance"></a>
              </div>
            </div>
          </figcaption>
        </figure>
      </div>
      <!-- END COL-MD-6 COL-SM-6 -->
      <div class="col-md-4 col-sm-6 mb-20">
        <figure class="team-member wow fadeInUp" data-wow-delay="0.4s">
          <div class="team-member-img"><img alt="02" src="/keychain/assets/template/images/team/member-02.jpg"></div>
          <figcaption class="team-member-hover">
            <div class="team-member-info">
              <div class="team-member-name playfair-display font-italic font-light">Tony Johnson</div>
              <div class="team-member-spec josefin-sans">Partner & CEO</div>
              <div class="team-member-social">
              	<a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-behance"></a>
              </div>
            </div>
          </figcaption>
        </figure>
      </div>
      <!-- END COL-MD-6 COL-SM-6 -->
      <div class="col-md-4 col-sm-6 mb-20">
        <figure class="team-member wow fadeInUp" data-wow-delay="0.6s">
          <div class="team-member-img"><img alt="03" src="/keychain/assets/template/images/team/member-03.jpg"></div>
          <figcaption class="team-member-hover">
            <div class="team-member-info">
              <div class="team-member-name playfair-display font-italic font-light">Amanda Smith</div>
              <div class="team-member-spec josefin-sans">Web Developer</div>
              <div class="team-member-social">
              	<a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-behance"></a>
              </div>
            </div>
          </figcaption>
        </figure>
      </div>
      <!-- END COL-MD-6 COL-SM-6 -->
    </div>
  </div>
</div>
<!-- END OUR TEAM  -->

<!-- =====================END ABOUT SECTION===================== -->
