@model ImagenesRivera.Products.Models.KeyChainBookVM
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/assets/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/vendor/bookblock.css">

    <link rel="stylesheet" href="~/assets/pages/bookpreview/bookpreview.css">
    <link rel="stylesheet" href="~/assets/pages/bookpreview/blue.css">

    <script src="~/assets/vendor/modernizr.custom.js"></script>
</head>

<body>
    <!-- Small Book -->
    <div id="scroll-wrap" class="scroll-wrap">
        <div id="bookshelf" class="bookshelf">
            <figure class="smallbook">
                <div class="perspective">
                    <div class="book" data-book="book-1">
                        <div class="cover">

                            <!-- Cover Image -->
                            <div class="front bg-image" data-image="img/avatar-small.jpg"></div>

                            <!-- Cover Title -->
                            <h1 class="cover-title">Moreno</h1>

                            <div class="inner inner-left"></div>
                        </div>
                        <div class="inner inner-right"></div>
                    </div>
                </div>
                <div class="book-opener"></div>
            </figure>
        </div>
    </div>
    <!-- Small Book end -->
    <!-- Profile (mobile only) -->
    <div id="profile" class="profile">
        <div class="card">

            <!-- Avatar Image -->
            <div class="profile-avatar bg-image" data-image="img/avatar.jpg">
                <div class="profile-name">
                    <h1>Jean Moreno</h1>
                </div>
            </div>

            <!-- Card footer -->
            <div class="card-body">
                <p class="profile-job">Event Manager</p>
                <p class="profile-location">San Francisco</p>
                <div class="profile-counters row">
                    <div class="col-4">
                        <span>100+</span>
                        <h5 class="">Clients</h5>
                    </div>
                    <div class="col-4">
                        <span>256</span>
                        <h5 class="">Projects</h5>
                    </div>
                    <div class="col-4">
                        <span>80+</span>
                        <h5 class="">Awards</h5>
                    </div>
                </div>

                <!-- Phone Call Button -->
                <a class="btn-floating" href="callto:1234567890"><i class="icon ion-ios-call"></i></a>

                <!-- Card footer -->
                <div class="card-footer">
                    <nav class="card-nav">
                        <!-- Social Icons -->
                        <ul>
                            <li>
                                <a href="#">
                                    <span class="icon ion-logo-twitter"></span>
                                </a>
                            </li>
                            <li>
                                <a href="mailto:me@domain.com">
                                    <span class="icon ion-ios-mail"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="icon ion-logo-facebook"></span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Profile end -->
    <!-- Big Book -->
    <div class="bb-bigbook-wrapper">
        <div class="bb-bigbook" id="book-1">
            <div class="bb-bookblock">
                @foreach (var page in Model.Pages)
                {
                    if (page.IsFullPage)
                    {
                        <div class="bb-item">
                            @Html.Raw($"<img src='{page.Photo1}' />")
                        </div>
                    }
                    else
                    {
                        <div class="bb-item">
                            <div class="bb-custom-side">
                                <div class="bb-custom-side-inner">
                                    <div class="bb-custom-side-content">
                                        alex
                                        @Html.Raw($"<img src='{page.Photo1}' />")
                                    </div>
                                </div>
                            </div>
                            <div class="bb-custom-side">
                                <div class="bb-custom-side-inner">
                                    <div class="bb-custom-side-content">
                                        @Html.Raw($"<img src='{page.Photo2}' />")
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
            <nav>
                <a href="#" class="bb-nav-close">Close</a>
            </nav>
        </div>
    </div>


    <script src="~/assets/vendor/jquery.min.js"></script>
    <script src="~/assets/vendor/jquery.bookblock.min.js"></script>
    <script src="~/assets/pages/bookpreview/bookpreview.js"></script>
</body>

</html>