<!-- =====================WORK SECTION===================== -->
<div class="portfolio mb-100">
  <div class="container">
  <div class="row work-wrap">
    <div class="col-md-6 col-sm-6">
      <figure class="work wow fadeInUp" data-wow-delay="0.2s">
        <div class="work-img"> <img src="/assets/template/images/portfolio/01.jpg" alt="01"/> </div>
        <figcaption class="work-img-overlay">
          <div class="work-info">
            <div class="work-title josefin-sans">Character Design</div>
            <div class="work-des playfair-display">Illustrations</div>
          </div>
          <a href="/assets/template/images/portfolio/01.jpg" data-lighter="/assets/template/images/portfolio/01.jpg"><i class="work-icon-preview fa-eye fa"></i></a> </figcaption>
      </figure>
      <figure class="work wow fadeInUp" data-wow-delay="0.2s">
        <div class="work-img"> <img src="/assets/template/images/portfolio/03.jpg" alt="03"/> </div>
        <figcaption class="work-img-overlay">
          <div class="work-info">
            <div class="work-title josefin-sans">Character Design</div>
            <div class="work-des playfair-display">Illustrations</div>
          </div>
          <a href="/assets/template/images/portfolio/03.jpg" data-lighter="/assets/template/images/portfolio/03.jpg"><i class="work-icon-preview fa-eye fa"></i></a> </figcaption>
      </figure>
    </div>
    <!-- END COL-MD-6 COL-SM-6 -->
    <div class="col-md-6 col-sm-6">
      <figure class="work wow fadeInUp" data-wow-delay="0.2s">
        <div class="work-img"> <img src="/assets/template/images/portfolio/02.jpg" alt="02"/> </div>
        <figcaption class="work-img-overlay">
          <div class="work-info">
            <div class="work-title josefin-sans">Character Design</div>
            <div class="work-des playfair-display">Illustrations</div>
          </div>
          <a href="/assets/template/images/portfolio/02.jpg" data-lighter="/assets/template/images/portfolio/02.jpg"><i class="work-icon-preview fa-eye fa"></i></a> </figcaption>
      </figure>
      <figure class="work wow fadeInUp" data-wow-delay="0.2s">
        <div class="work-img"> <img src="/assets/template/images/portfolio/04.jpg" alt="04"/> </div>
        <figcaption class="work-img-overlay">
          <div class="work-info">
            <div class="work-title josefin-sans">Character Design</div>
            <div class="work-des playfair-display">Illustrations</div>
          </div>
          <a href="/assets/template/images/portfolio/04.jpg" data-lighter="/assets/template/images/portfolio/04.jpg"><i class="work-icon-preview fa-eye fa"></i></a> </figcaption>
      </figure>
    </div>
    <!-- END COL-MD-6 COL-SM-6 -->
    <div class="col-md-12 col-sm-12">
      <figure class="work wow fadeInUp" data-wow-delay="0.2s">
        <div class="work-img"> <img src="/assets/template/images/portfolio/05.jpg" alt="05"/> </div>
        <figcaption class="work-img-overlay">
          <div class="work-info">
            <div class="work-title josefin-sans">Character Design</div>
            <div class="work-des playfair-display">Illustrations</div>
          </div>
          <a href="/assets/template/images/portfolio/05.jpg" data-lighter="/assets/template/images/portfolio/05.jpg"><i class="work-icon-preview fa-eye fa"></i></a> </figcaption>
      </figure>
    </div>
    <!-- END COL-MD-12 COL-SM-12 -->
  </div>
  <!-- END ROW -->
  </div>
  <!-- END CONTAINER -->


</div>
  <!-- END SECTION -->
  <!-- =====================END WORK SECTION===================== -->
